<main role="main" class="inner cover">
  <h2>TOP 10 najlepszych żartów</h2>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Pozycja</th>
            <th scope="col">Numer żartu</th>
            <th scope="col">Ocena</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let joke of jokes; let i = index">
            <th scope="row">{{i+1}}</th>
            <td><a href="/joke/{{joke.id}}">#{{joke.id}}</a></td>
            <td>{{joke.rate}}</td>
          </tr>
          
        </tbody>
      </table>
    </main>
      
     