<main role="main" class="inner cover">
  <div class="jokeContainer">
    <h1 class="cover-heading">#1</h1>
    <p class="lead">Dzielnicowemu udało się odkryć kryjówkę fałszerzy pieniędzy i zadzwonił do swojego szefa - komisarza policji:
        - Nowo wydrukowane banknoty zostały skonfiskowane, będzie tego ze sto tysięcy. Zaraz to do pana przyniosę.
        - To bardzo niebezpiecznie jest iść ulicą z taką ilością pieniędzy w kieszeni. A banknoty są dobrze podrobione?
        - Bardzo dobrze! Wyglądają jak prawdziwe, proszę pana. Są wszystkie stopnie ochrony, znaki wodne - wszystko jest na swoim miejscu.
        - Obok masz bank. W takim razie bezpieczniej będzie jak mi je wyślesz przekazem!</p>
    <div class="lead">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-danger"><b>-</b></button>
            <button disabled="disabled" type="button" class="btn btn-secondary">12</button>
            <button type="button" class="btn btn-success"><b>+</b></button>
        </div>
      </div>
    </div>
    <div class="container">
      <h1 class="cover-heading">#2</h1>
      <p class="lead">W jaki sposób typowy policjant urozmaica swoje życie seksualne?
          - Przykuwa żonę kajdankami do łóżka... i idzie do sąsiadki.</p>
      <div class="lead">
          <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-danger"><b>-</b></button>
              <button disabled="disabled" type="button" class="btn btn-secondary">41</button>
              <button type="button" class="btn btn-success"><b>+</b></button>
          </div>
        </div>
      </div>
  </main>
<router-outlet></router-outlet>